config prog_for_mint 'input_sct'
	option 'enable' '0'
	option 'broker_address' '192.168.10.103'
	option 'broker_port' '1883'
	option 'username' 'broker'
	option 'password' 'brokerpass'

config module
	option 'enable' '1'
	option 'name' 'mint-ip'
	option 'type' 'publish'
	option 'description' 'Gets memory information'

config module
	option 'enable' '1'
	option 'name' 'mint-ram'
	option 'type' 'publish'
	option 'description' 'Gets memory information'

config module
	option 'enable' '1'
	option 'name' 'mint-wireless'
	option 'type' 'publish'
	option 'description' 'Gets WiFi information'
	
config module
	option 'enable' '1'
	option 'name' 'mint-dhcp_leases'
	option 'type' 'publish'
	option 'description' 'Gets current DHCP leases'
	
config module
	option 'enable' '1'
	option 'name' 'mint-lan_ports'
	option 'type' 'publish'
	option 'description' 'Gets information about LAN ports'

config module
	option 'enable' '1'
	option 'name' 'mint-new_ip'
	option 'type' 'subscribe'
	option 'description' 'Changes the IP address'

config module
	option 'enable' '1'
	option 'name' 'mint-ban_device'
	option 'type' 'subscribe'
	option 'description' 'Bans a device at a wireless interface for a time'
